@charset "utf-8";

.cssskin-_block_main_event_map .set-1 {
  width: 380px !important;
}

.cssskin-_block_main_event_map .set-2 {
  width: 431px !important;
}

.cssskin-_block_main_event_map h4 {
  color: #6e6856;
}

