@charset "utf-8";

.cssskin-_block_main_story_leftphotos .set-l {
  width: 40% !important;
}

.cssskin-_block_main_story_leftphotos .set-r {
  width: 60% !important;
}

.cssskin-_block_main_story_leftphotos h4 {
  font-size: 14px;
}

