@charset "utf-8";

.cssskin-_block_main_top .set-1 {
  width: 250px !important;
}

.cssskin-_block_main_top .set-2 {
  width: 400px !important;
  padding-top: 70px;
}

.cssskin-_block_main_top .set-3 {
  width: 250px !important;
}

.cssskin-_block_main_top h4 {
  color: #86806d;
  font-size: 12px;
  margin-bottom: 5px;
}

.cssskin-_block_main_top p {
  color: #c97c73;
  line-height: 1.6;
  padding-bottom: 10px;
}

.cssskin-_block_main_top p.kakomi {
  border: none;
  color: #6e6856;
  margin-left: 0px;
}

.cssskin-_block_main_top  {
  margin-bottom: 20px !important;
}

