@charset "utf-8";

.cssskin-_block_main_gallery_midashi h3 {
  color: #c97c73;
  font-size: 24px;
  padding-top: 40px !important;
  margin-bottom: 20px;
}

.cssskin-_block_main_gallery_midashi  {
  margin: 0 20px !important;
}

